.virtuous-black-button,
.duplicitous-yellow-button {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.virtuous-black-button {
    background-color: #000000;
    color: #FFFFFF;
}

.duplicitous-yellow-button {
    background-color: #FFFF00;
}